.leftSelector{
  width: 80px !important;
  background-color: #e6effc;
  border-right: #e6effc;
  .fileManagement{
    width: 100%;
    height: 56px;
    color: #169ef2;
    line-height: 36px;
    text-align: center;
    font-size: 35px;
  }
}