.calendarBody{
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  text-align: center;
  .is{
    color: black;
  }
  .no{
    color: #b2b2b2;
  }
  .now{
    color: #0d6efd;
    font-weight: 900;
    background-color: rgba($color: #0d6efd, $alpha: .3);
  }
  .list{
    color: red;
    font-weight: 900;
    background-color: rgba($color: red, $alpha: .3);
  }
  .selector{
    color: orange;
    font-weight: 900;
    background-color: rgba($color: orange, $alpha: .3);
  }
  .week{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  .listItemIs{
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: #ededed;
      font-weight: bold;
    }
  }
  .listItemNo{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}