$height1:40px;
$height2:30px;
$height3:32px;
$marTop: ($height1 - $height2) / 2;
.bor-a-none{
  border-radius: 0;
}
#friendSearch{
  width: 100%;
  height: $height1;
  // background-color: red;
  display: flex;
  .search{
    flex: 1;
    .searchIpt{
      @extend .bor-a-none;
      height: $height2;
      margin-top: $marTop;
    }
  }
  .add{
    width: 40px;
    cursor: pointer;
    .item{
      text-align: center;
      line-height: $height1;
      display: block;
    }
  }
}

.searchVessels{
  display: flex;
  .searchIpt{
    @extend .bor-a-none;
  }
  .searchBtn{
    @extend .bor-a-none;
  }
}

.searchResult{
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item{
    height: $height3;
    line-height: $height3;
    background-color: #f6f6fb;
    width: 49%;
    margin-left: 0.5%;
    margin-bottom: 3px;
    padding-left: 5px;
    cursor: pointer;
    display: flex;
    .name{
      flex: 1;
    }
    .btns{
      width: 70px;
      padding: 0 5px;
      font-size: 12px;
      align-self: center;
    }
  }
}