$border-color: #e0e0e0;
$height:30px;

#friends{
  flex: 1;
  display: flex;
  background-color: white;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  .right{
    flex: 1;
    .chat{
      background-color: #fff;
      border-right: 1px solid $border-color;
      height: 100%;
      display: flex;
      flex-direction: column;
      .header{
        width: 100%;
        height: 50px;
        background-color: #f5f6f7;
        border-bottom: 1px solid $border-color;
        text-align: left;
        padding: 0 20px;
        line-height: 50px;
        font-weight: 600;
        font-size: 20px;
      }
      .message{
        width: 100%;
        background-color: #f5f6f7;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        .messageVessels{
          margin-bottom: 10px;
          width: 45%;
          display: flex;
          .headerName{
            width: $height;
            height: $height;
            line-height: 25px;
            font-weight: 600;
            font-size: 25px;
            background-color: #00c5ab;
            text-align: center;
            color: white;
          }
          .messageContent{
            flex: 1;
            word-break: break-all;
            line-height: $height;
            div{
              display: inline-block;
              background-color: white;
              padding: 5px 10px;
            }
          }
        }
        .rightVessels{
          align-self: flex-end;
          .headerName{
            margin-left: 20px;
          }
          .messageContent{
            text-align: right;
          }
        }
        .leftVessels{
          align-self: flex-start;
          .headerName{
            margin-right: 20px;
          }
          .messageContent{
            text-align: left;
          }
        }
      }
      .send{
        width: 100%;
        height: 200px;
        background-color: #f5f6f7;
        border-top: 1px solid $border-color;
        padding: 40px 0 60px 0;
        position: relative;
        .sendBtn{
          position:absolute;
          bottom: 0;
          right: 0;
          height: 40px;
          padding: 0 20px;
        }
      }
    }
  }
}