#aloneTetris{
  width: 200px;
  height: 360px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .color{
    background-color: red;
  }
  .fixColor{
    background-color: burlywood;
  }
  .ch{
    width: 20px;
    height: 20px;
  }
}