.icon-button{
  background: none;
  border: none;
  color: inherit;
}

.c-link{
  cursor: pointer;
}

.active-my{
  background-color: #0d6efd;
  color: white !important;
}

.editor{
  height: calc(100vh - 40px);
}

.start-page{
  height: 100vh;
  font-size: 30px;
  text-align: center;
  line-height: 100vh;
  color: #ccc;
}

.left-panel{
  height: 100vh;
  position: relative;
  padding-bottom: 40px;
}

.button-group{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.no-border-redius{
  border-radius: 0 !important;
}