.right-vessels{
  position: relative;
  .save{
    position: absolute;
    top: 0;
    left: 0;
  }
}

.view-flex{
  display: flex;
  background-color: antiquewhite;
  height: 100vh;
  .view-middle-panel{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    padding-bottom: 60px;
  }
  .view-right-panel{
    flex: 1;
    height: 100vh;
    background-color: red;
    overflow: hidden;
    .start-page{
      height: 100vh;
      width: 100%;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      font-size: 30px;
      text-align: center;
      line-height: 100vh;
      color: #ccc;
    }
  }
}

.openListClassName{
  display: none !important;
}