.right-vessels{
  position: relative;
  .save{
    position: absolute;
    top: 0;
    left: 0;
  }
}

.view-flex{
  display: flex;
  background-color: antiquewhite;
  .view-left-panel{
    width: 100%;
  }
  .view-right-panel{
    flex: 1;
    background-color: red;
  }
}